html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}
body{
   height: 100%;
   width: 100%;
   background-image: url(img/Fons.jpg);
   font-family: "Montserrat", sans-serif;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   display: flex;
   flex-direction: column;
}
a:hover, .btn-link:hover, a:focus, .btn-link:focus{
   text-decoration: none;
}
nav a{
   color: #AEC3B0;
}
nav a:hover{
   color: #EFF6E0;
   font-weight: bold;
}
nav{
   background-color: rgb(18, 69, 89, 0.9);
   height: 6rem;
   max-height: 6rem;
}

.btn{
   background-color: #EFF6E0;
   border-radius: 50px;
   padding: 0.75rem 2rem;
   border: solid #EFF6E0 1px;
   transition: 0.5s ease-in-out;
   color:#01161E;
   font-weight: bold;
}
.btn:hover, .btn:focus{
   background-color: rgb(0,0,0,0);
   color: #EFF6E0;
}
nav h1{
   color: #EFF6E0;
}

main{
   flex: 1;
   padding: 6rem 0 0 0;
}
main h1{
   color: #EFF6E0;
   font-weight: bolder;
}
main h4{
   color: #AEC3B0;
}
section > .btn{
   margin-top: 1rem;
}
section{
   margin-bottom: 3rem;
   padding: 2rem 3rem 2rem;
}
section:last-child{
   padding-bottom: 1rem;
}

footer{
   background-color: #01161E;
   height: auto;
}
footer a, footer p{
   color: #EFF6E0;
}
main hr{
   width: 50%;
}
hr{
   background-color: #EFF6E0;
}
footer .primera-linia{
   padding-top: 1rem;
}
footer .segona-linia{
   padding-bottom: 1rem;
}
footer a:hover{
   font-weight: bolder;
   color: #EFF6E0;
}