body{
    width: 100%;
    height: 100vh;
    background-color: #01161E;
    font-family: "Montserrat", sans-serif;
    background-image: url(/php/img/Fons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

a{
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenidor {
    display: flex;
    justify-content: center;  
    align-items: center;     
    text-align: center;
  }

main h1{
    color: #EFF6E0;
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 10rem;
}

main h3{
    color: #AEC3B0;
    margin-bottom: 3rem;
}

main .funcionament{
    background-color: #EFF6E0;
    border: #EFF6E0 solid 0.5px;
    border-radius: 35px;;
    padding: 0.75rem;
    color: #01161E;
    transition: ease-in-out 0.5s;
    justify-content: center;  
    align-items: center;     
    text-align: center;
    margin-top: -1rem;
}

main .funcionament:hover{
    color: #EFF6E0;
    background-color: rgb(0, 0, 0, 0.0);
}