body,html{
   height: 100%;
   width: 100%;
   background-color: #01161E;
   background-image: url(img/Fons.jpg);
   font-family: "Montserrat", sans-serif;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   margin: 0;
   flex-direction: column;
}
.navbar-default{
   background-color:rgb(18, 69, 89, 0.9);
   text-align: right;
   height: 5rem;
}
.navbar-default a{
   color: #AEC3B0;
}
.navbar-default a:hover{
   color: #EFF6E0
}
.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar-default li {
  display: inline;
}
a{
   text-decoration: none;
}
a:hover{
   text-decoration: none;
}

.navbar-default .boto{
   background-color: #EFF6E0;
   color: #01161E;
   padding: 0.5rem 2rem;
   border-radius: 50px;
   border: solid 1px #EFF6E0;
   transition: 0.5s ease-in-out; 
}
.navbar-default a:hover{
   color: #EFF6E0;
   background-color: rgb(0, 0, 0,0);
}

main{
   padding: 2rem;
   margin-top: 5rem;
   flex: 1;
}
.introduccio{
   width: 90%;
   margin-bottom: 2rem;
}
main h1{
   font-size: 3rem;
   width: 50%;
   color: #EFF6E0;
   font-weight: bolder;
}
main h4{
   color: #AEC3B0;
}
.btn-link{
   background-color: #EFF6E0;
   border-radius: 50px;
   color:#01161E;
   padding: 1rem 2rem;
   border: solid #EFF6E0 1px;
   transition: 0.5s ease-in-out;
}
.btn-link:hover{
   text-decoration: none;
   background-color: rgb(0, 0, 0,0);
   color: #EFF6E0
}

footer{
   height: 7rem;
   background-color: #01161E;
   color: #EFF6E0;
}
footer hr{
   background-color: #EFF6E0;
}
.primera-linia{
   margin-top: 1rem
}
footer p{
   margin-bottom: 1rem;
}
footer a{
   color: #EFF6E0;
}
footer a:hover{
   color:#EFF6E0;
   font-weight: bold;
}