body{
    background-color: #01161E;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/FonsLandingPage.png);
    font-family: "Montserrat", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
.contenidor{
    margin-bottom: 2rem;;
}
main{
    text-align: center;
    width: 60%;
}
main h1{
    color: #EFF6E0;
    font-size: 4rem;
    font-weight: bolder;
    margin: 0;
}
main h3{
    color: #AEC3B0;
    font-weight: bold;
}
.btn-link{
    text-decoration: none;
    color: #01161E;
    background-color: #EFF6E0;
    padding: 1.5rem 3rem;
    font-weight: 600;
    border-radius: 50px;
    border: solid #EFF6E0 1px;
    transition: 0.5s ease-in-out;
    animation: animacioBoto 3s;
    animation-iteration-count: infinite;
}
.btn-link:hover{
    background-color: rgb(0,0,0,0);
    text-decoration: none;
    color: #EFF6E0;
}
.btn-link:focus{
    text-decoration: none;
}

@keyframes animacioBoto {
        0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}